@{
  ViewData["Title"] = "Documentation";
}
<div class="row">

  <div class="col-md-10 offset-md-1">

    <h1>GraphQL API</h1>

    <h2>Introduction</h2>

    <p>This API provides upstream systems with access to data. It is built using the <a href="https://graphql.org" target="_blank">GraphQL</a> standard.

      <div class="alert alert-primary" role="alert">
        GraphQL is a query language for APIs and a runtime for fulfilling those queries with your existing data. GraphQL provides a complete and understandable description of the data in your API, gives clients the power to ask for exactly what they need and nothing more, makes it easier to evolve APIs over time, and enables powerful developer tools.
      </div>

    </p>

      <p>This API is based upon the <a href="https://github.com/graphql-dotnet/graphql-dotnet" target="_blank" alt="GraphQL for .NET">open source .NET Core version of GraphQL</a>.</p>

    <h2>Use of the API</h2>

      <p>The GraphQL playground allows developers to experiment with GraphQL queries, and it includes full documentation on queries and schema. To <a asp-controller="Home" asp-action="Index">use the Playground</a>, you must copy a valid bearer token into the HTTP HEADERS section at the bottom of the Playground page.</p>

    <image src="/images/playground.png" alt="GraphQL Playground" width="972px" height="607px"/>

  </div>

</div>

